## Introduction
**Icebreaker**: What is one thing that you wish was automated or made easier in your daily work?

## Why Python?
* Everything is data now.
* Doing repetitive things quickly and accurately is what computers do
* As librarians / information specialists / analysts, we do the high value work of creativity & design & analysis. Leave computing to the computers.

## Opening JupyterLab
1. Open the start menu, search "Anaconda Navigator", then launch the Anaconda Navigator App
    * This may take some time
1. Launch JupyterLab
1. After a lot lf loading, JupyterLab opens a blank notebook!

<img src="image.png" alt="Open the start menu, search 'Anaconda Navigator', then launch the Anaconda Navigator App" width="700"/>
<img src="image-1.png" alt="Launch JupyterLab" width="700"/>
<img src="image-2.png" alt="Empty notebook view after JupyterLab opens" width="700"/>

<hr /> 

## Variables & Assignment
* **Variables** are names for values.
* Variable names
    * can **only** contain letters, digits, and underscore _ (typically used to separate words in long variable names)
    * cannot start with a digit
    * are **case sensitive** (age, Age and AGE are three different variables)
    * The name should also be meaningful so you or another programmer know what it is
* In Python the `=` symbol assigns the value on the right to the name on the left.
* The variable is created when a value is assigned to it.
* Here, Python assigns an `age` to a variable age and a name in quotes to a variable `first_name`.

In [1]:
age = 42
first_name = 'Ahmed'

print(first_name, 'is', age, 'years old')

Ahmed is 42 years old

### Variables must be created before they are used.
If a variable doesn’t exist yet, or if the name has been mis-spelled, Python reports an error.

In [2]:
print(last_name)

NameError: name 'last_name' is not defined

### Use meaningful variable names
Which is a better variable name, m, min, or minutes? Why?  
*Hint*: think about which code you would rather inherit from someone:

```
ts = m * 60 + s
tot_sec = min * 60 + sec
total_seconds = minutes * 60 + seconds
```

<hr />

## Data types
### Every value has a type
* Every value in a program has a specific type.
* Integer (`int`): represents positive or negative whole numbers like 3 or -512.
* Floating point number (`float`): represents real numbers like 3.14159 or -2.5.
* Character string (usually called “string”, `str`): text.
    * Written in either single quotes or double quotes (as long as they match).
    * The quote marks aren’t printed when the string is displayed.
    
### Use the built-in function type to find the type of a value.
* Use the built-in function type to find out what type a value has.
* Works on variables as well.
    * But remember: the value has the type — the variable is just a label.

In [5]:
print('Type of the integer 52: ')
print(type(52))

print('Type of the string "average":')
fitness = 'average'
print(type(fitness))

Type of the integer 52:
<class 'int'>
Type of the string "average":
<class 'str'>

### Variables only change value when something is assigned to them.
* If we make one cell in a spreadsheet depend on another, and update the latter, the former updates automatically.
* This does **not** happen in programming languages.

In [6]:
variable_one = 1
variable_two = 5 * variable_one
variable_one = 2
print('first is', variable_one, 'and second is', variable_two)

first is 2 and second is 5

* The computer reads the value of `variable_one` when doing the multiplication, creates a new value, and assigns it to `variable_two`.
* Afterwards, the value of `variable_two` is set to the new value and not dependent on `variable_one` so its value does not automatically change when `variable_one` changes.

<hr />

## Comments
Use comments to add documentation to programs.

In [7]:
# This sentence isn't executed by Python.
adjustment = 0.5  # Neither is this - anything after '#' is ignored.

print(adjustment)

0.5

#### Exercise:
Why doesn't this code work?

In [8]:
Number of documents in the collection
num_docs = 10

print(num_docs)

SyntaxError: invalid syntax (1611901010.py, line 1)

<hr />

## Functions
* We have seen some functions already — now let’s take a closer look.
* An *argument* is a value passed into a function.
    * `print` takes zero or more.
        * print with no arguments prints a blank line.
    * `type` takes exactly one argument
* Must always use parentheses, even if they’re empty, so that Python knows a function is being called.

In [9]:
print('before')
print()
print('after')

before

after

<hr />

## Libraries
### Most of the power of a programming language is in its libraries.
* A library is a collection of files (called modules) that contains functions for use by other programs.
    * May also contain data values (e.g., numerical constants) and other things.
* The Python standard library is an extensive suite of modules that comes with Python itself.
* Many additional libraries are available from PyPI (the Python Package Index) using `pip`

### Installing packages using pip
1. Launch the Terminal
1. Use the `pip` command to find and install the package

**Syntax:** `pip install [packagename]`

<img src="image-3.png" alt="Launch terminal" width="700"/>
<img src="image-4.png" alt="Use the pip command" width="700"/>

### Installing the rdflib and pandas libraries
* Use `pip` to install `rdflib` and `pandas`

<hr />

## Errors and getting help
### The Jupyter Notebook has two ways to get help.
**Option 1**: Place the cursor near where the function is invoked in a cell (i.e., the function name or its parameters),
* Hold down Shift, and press Tab.
* Do this several times to expand the information returned.

**Option 2**: Type the function name in a cell with a question mark after it. Then run the cell.

### Library functions have online documentation
https://rdflib.readthedocs.io/en/stable/intro_to_parsing.html

<img src="image-5.png" alt="Loading and saving RDF documentation" width="700"/>

### A program must import a library module before using it.
* Use `import` to load a library module into a program’s memory.
* Then refer to things from the module as `module_name.thing_name`.
    * Python uses . to mean “part of”.

In [ ]:
import pandas as pd
help(pd)

<hr />

## For Loops
### A for loop executes commands once for each value in a collection
* A for loop tells Python to execute some statements once for each value in a list, a character string, or some other collection.
* “for each thing in this group, do these operations”
* **This is the real power of coding**

In [11]:
print('Manually:')
print(2)
print(3)
print(5)

print('Using a loop:')
for number in [2, 3, 5]:
    print(number)

Manually:
2
3
5
Using a loop:
2
3
5

### Loop variables can be called anything.
* As with all variables, loop variables are:
    * Created on demand.
    * Python doesn't care what you name it: their names can be anything at all
    * You should call it something meaningful
    
### The body of a loop can contain many statements.
* Try to keep loops short
* It is hard for human beings to keep larger chunks of code in mind.

In [12]:
primes = [2, 3, 5]
for this_prime_number in primes:
    squared = this_prime_number**2
    cubed = this_prime_number**3
    print(this_prime_number, squared, cubed)

2 4 8
3 9 27
5 25 125

### Use range to iterate over a sequence of numbers.
* The built-in function range produces a sequence of numbers.
* range(N) is the numbers 0..N-1
    * Exactly the legal indices of a list or character string of length N

In [14]:
for number in range(0, 5):
    print(number)

0
1
2
3
4

<hr />

## Lists (collection of items / "arrays")
### A list stores many values in a single structure.
* Doing calculations with a hundred variables (eg. `value1`, `value2`, `value3`, ...) would be at least as slow as doing them by hand.
* Use a list to store many values together.
* Contained within square brackets `[...]`.
* Values separated by commas `,`
* Use `len` to find out how many values are in a list.

In [17]:
values = [1.034, 2.275, 3.277, 4.275, 5.276]
print('values:', values)
print('length of `values`:', len(values))

values: [1.034, 2.275, 3.277, 4.275, 5.276]
length of `values`: 5

### Use an item’s index to fetch it from a list.

In [18]:
print('zeroth item of values:', values[0])
print('fourth item of values:', values[4])

zeroth item of values: 1.034
fourth item of values: 5.276

### Lists’ values can be replaced by assigning to them.
* Use an index expression on the left of assignment to replace a value.

In [19]:
values[0] = 0.265
print('`values` is now:', values)

`values` is now: [0.265, 2.275, 3.277, 4.275, 5.276]

### Exercise 1:
* Combine a for-loop, `range`, and list indexing to print the index and associated value from the list `values`:

**Output:**
```
0 0.034
1 2.275
2 3.277
3 4.275
4 5.276
```

### Appending items to a list lengthens it.
Use `list_name.append` to add items to the end of a list.

In [22]:
primes = [2, 3, 5]
print('primes is initially:', primes)

primes.append(7)
print('primes has become:', primes)

primes is initially: [2, 3, 5]
primes has become: [2, 3, 5, 7]

### Exercise 2:
* Using a for-loop, and the list `values`, create a new list called `values_plus_5` that contains all the items in `values`, with `5` added to each number

After running your code, values_plus_5 should look like this:
```
print(values_plus_5)
[5.265, 7.275, 8.277, 9.275, 10.276]
```

<hr />

## Reading Tabular Data into DataFrames
* Pandas is a widely-used Python library for statistics, particularly on tabular data.
* Load Pandas with `import pandas as pd`. The alias `pd` is commonly used to refer to the Pandas library in code.
* Read a Comma Separated Values (CSV) data file with `pd.read_csv`.
    * Argument is the name of the file to be read.
    * Returns a dataframe that you can assign to a variable

In [28]:
import pandas as pd

workshop_2016 = pd.read_csv(
    'https://raw.githubusercontent.com/dtxe/boc_python_20230921/main/tidy_data_2016_openaccess.csv'
)
print(workshop_2016)

          date  length_hours  num_attendees delivered_by
0   2016-01-08           1.5             20           FG
1   2016-01-13           1.0             21           JM
2   2016-01-22           1.0             35           JM
3   2016-02-02           1.5             36           JM
4   2016-02-03           1.5             22           JM
5   2016-02-03           1.0             30           JM
6   2016-02-20           1.5             36           FG
7   2016-02-28           1.5             28           JM
8   2016-03-19           1.5             33           FG
9   2016-03-19           1.0             39           JM
10  2016-04-04           1.5             21           JM
11  2016-05-05           1.5             25           JM
12  2016-05-18           1.0             22           JM
13  2016-05-19           1.5             20           FG
14  2016-05-21           1.5             21           JM
15  2016-06-14           1.5             37           JM
16  2016-06-18           1.5             25           JM
17  2016-07-04           1.5             39           JM
18  2016-07-06           1.5             39           JM
19  2016-07-10           1.5             34           JM
20  2016-07-13           1.5             23           FG
21  2016-07-17           1.5             30           JM
22  2016-08-03           1.5             28           JM
23  2016-08-20           1.5             32           JM
24  2016-08-26           1.5             25           JM
25  2016-08-28           1.5             33           FG
26  2016-10-01           1.5             38           JM
27  2016-10-21           1.5             34           JM
28  2016-11-09           1.5             32           JM
29  2016-11-15           1.5             35           JM
30  2016-11-15           1.5             27           JM
31  2016-12-02           1.5             35           FG
32  2016-12-07           1.5             23           JM
33  2016-12-11           1.5             38           FG
34  2016-12-19           1.5             20           FG

### Setting an index

In [29]:
workshop_2016.set_index('date', inplace=True)
print(workshop_2016)

            length_hours  num_attendees delivered_by
date
2016-01-08           1.5             20           FG
2016-01-13           1.0             21           JM
2016-01-22           1.0             35           JM
2016-02-02           1.5             36           JM
2016-02-03           1.5             22           JM
2016-02-03           1.0             30           JM
2016-02-20           1.5             36           FG
2016-02-28           1.5             28           JM
2016-03-19           1.5             33           FG
2016-03-19           1.0             39           JM
2016-04-04           1.5             21           JM
2016-05-05           1.5             25           JM
2016-05-18           1.0             22           JM
2016-05-19           1.5             20           FG
2016-05-21           1.5             21           JM
2016-06-14           1.5             37           JM
2016-06-18           1.5             25           JM
2016-07-04           1.5             39           JM
2016-07-06           1.5             39           JM
2016-07-10           1.5             34           JM
2016-07-13           1.5             23           FG
2016-07-17           1.5             30           JM
2016-08-03           1.5             28           JM
2016-08-20           1.5             32           JM
2016-08-26           1.5             25           JM
2016-08-28           1.5             33           FG
2016-10-01           1.5             38           JM
2016-10-21           1.5             34           JM
2016-11-09           1.5             32           JM
2016-11-15           1.5             35           JM
2016-11-15           1.5             27           JM
2016-12-02           1.5             35           FG
2016-12-07           1.5             23           JM
2016-12-11           1.5             38           FG
2016-12-19           1.5             20           FG

### Use the DataFrame.info() method to find out more about a dataframe.

In [30]:
workshop_2016.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, 2016-01-08 to 2016-12-19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   length_hours   35 non-null     float64
 1   num_attendees  35 non-null     int64
 2   delivered_by   35 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ KB

* This is a DataFrame
* 35 rows indexed by the workshop dates
* Three columns named `length_hours`, `num_attendees`, `delivered_by`

### Use DataFrame.describe() to get summary statistics about data.
* `DataFrame.describe()` gets the summary statistics of only the columns that have numerical data.
* All other columns are ignored, unless you use the argument `include='all'`.

In [33]:
workshop_2016.describe(include='all')

        length_hours  num_attendees delivered_by
count      35.000000      35.000000           35
unique           NaN            NaN            2
top              NaN            NaN           JM
freq             NaN            NaN           26
mean        1.428571      29.600000          NaN
std         0.177518       6.598574          NaN
min         1.000000      20.000000          NaN
25%         1.500000      23.000000          NaN
50%         1.500000      30.000000          NaN
75%         1.500000      35.000000          NaN
max         1.500000      39.000000          NaN

### Exercise: Reading data from different directories on your computer
* Above, we loaded data directly from GitHub
* What if we wanted to read a file from our computer?
* **Try loading a CSV file from one of our previous lessons**

How can we access files from a different directory?

<hr />

## Working with RDF files
* RDF files contain a list of triples (subject, predicate, and object)
* RDF files describe a graph (a set of connections between nodes)
* To work with RDF files in Python, we first import the RDF library and some shortcuts for terms

### Default namespaces
RDF: Resource Description Framework  
RDFS: RDF Semantics  

### Creating custom namespaces
Namespace: Allows us to create custom namespaces  
BOC: Our shorthand for the Bank of Canada namespace

### Simplified schematic of Language RDF Dataset
<img alt="BOC Language Dataset Schematic" src="image-6.png" width="700" />

In [2]:
import rdflib
from rdflib.namespace import RDF, RDFS, Namespace

# Create custom namespaces used in Bank of Canada RDF data files
BOC = Namespace("https://www.bankofcanada.ca/model#")

# import rdf file
g = rdflib.Graph()
g.bind("boc", BOC)   # this tells rdflib about our shorthand for the BOC namespace
g.parse("http://10.220.12.6/LANG_STG_15-09-2023.rdf", format='xml')

# print the number of triples in the graph
print(len(g))

8665

In [3]:
# print the first 10 triples
for s, p, o in list(g)[:10]:
    print(s, p, o)

https://www.bankofcanada.ca/id/9e166a08-269b-4777-81dc-1fb90aa34d16 http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Alpha3CodeLanguage
https://www.bankofcanada.ca/id/b9c13167-d346-4453-95da-548c2848495d http://www.w3.org/2004/02/skos/core#hiddenLabel selkoupe
https://www.bankofcanada.ca/id/311341c1-7a12-47d3-ab0e-a61eb8de1980 https://www.bankofcanada.ca/model#externalUri https://www.omg.org/spec/LCC/Languages/ISO639-2-LanguageCodes/kar
https://www.bankofcanada.ca/id/b8487bc7-5c40-42d1-93f1-fcdb96021f21 http://www.mondeca.com/system/t3#inGroup https://www.bankofcanada.ca/id/LivingLanguage
https://www.bankofcanada.ca/id/1a6a6356-5009-477a-8507-0995e30975fb http://www.mondeca.com/system/t3#inGroup https://www.bankofcanada.ca/id/Languages
https://www.bankofcanada.ca/id/328adf8f-8f08-4003-9f71-41b239526b45 https://www.bankofcanada.ca/model#hasDenotation https://www.bankofcanada.ca/id/7504d437-482f-4ec5-b3b8-58449253deb7
https://www.bankofcanada.ca/id/94f1ae8b-24f9-4f9e-bc44-1ce1e637c171 https://www.bankofcanada.ca/model#hasDenotation https://www.bankofcanada.ca/id/31d6c432-3fbc-4e81-8ea8-b2695e1b335d
https://www.bankofcanada.ca/id/9d20e00c-7c10-4e09-808b-284cb528419f http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Language
https://www.bankofcanada.ca/id/bc918465-49bb-4ed8-8887-4b7e9e7196e7 https://www.bankofcanada.ca/model#externalUri https://www.omg.org/spec/LCC/Languages/ISO639-2-LanguageCodes/apa
https://www.bankofcanada.ca/id/8dcc3944-d66f-47db-9028-ea3990c8ba79 https://www.bankofcanada.ca/model#externalUri https://www.omg.org/spec/LCC/Languages/ISO639-2-LanguageCodes/NKo

In [5]:
# get a list of all data types
data_types = set()    # a set is like a LIST except all the values are unique
for s, p, o in g.triples((None, RDF.type, None)):
    data_types.add(str(o))
    
print(data_types)

{'https://www.bankofcanada.ca/model#LanguageFamily', 'https://www.bankofcanada.ca/model#Language', 'https://www.bankofcanada.ca/model#Alpha3CodeLanguage', 'https://www.bankofcanada.ca/model#Alpha2CodeLanguage'}

In [6]:
# Search for all triples describing ISO 2 letter language codes
two_letter_subject = list(g.subjects(RDF.type, BOC.Alpha2CodeLanguage))
print(two_letter_subject[:10])

[rdflib.term.URIRef('https://www.bankofcanada.ca/id/0156c97d-07d6-43d2-bd92-63c4c062428a'), rdflib.term.URIRef('https://www.bankofcanada.ca/id/03375036-4837-46bf-ae52-8c57938002db'), rdflib.term.URIRef('https://www.bankofcanada.ca/id/04a982f6-48e2-4a5e-ab52-d80ab7e3b233'), rdflib.term.URIRef('https://www.bankofcanada.ca/id/051ef2ca-5641-45d9-99f8-66d44d5c3b99'), rdflib.term.URIRef('https://www.bankofcanada.ca/id/05b1dd74-98b1-4bf3-b609-f8eec395cbad'), rdflib.term.URIRef('https://www.bankofcanada.ca/id/061c8f13-3827-40d9-abb0-0318ac73f5e8'), rdflib.term.URIRef('https://www.bankofcanada.ca/id/068f3e2a-3f12-4cd9-a93e-9be1faf18fa1'), rdflib.term.URIRef('https://www.bankofcanada.ca/id/06c8263b-3a0b-4d80-80a3-72460dc99443'), rdflib.term.URIRef('https://www.bankofcanada.ca/id/079ac9ad-cd5f-4d1d-84a0-3ed6abf86288'), rdflib.term.URIRef('https://www.bankofcanada.ca/id/08909db5-bc70-4a37-8d1e-4d75f5dc9d67')]

In [28]:
# put this into a DataFrame
import pandas as pd
lang_df = pd.DataFrame(two_letter_subject, columns=['two_letter_subject'])

lang_df.head()

                                  two_letter_subject
0  https://www.bankofcanada.ca/id/0156c97d-07d6-4...
1  https://www.bankofcanada.ca/id/03375036-4837-4...
2  https://www.bankofcanada.ca/id/04a982f6-48e2-4...
3  https://www.bankofcanada.ca/id/051ef2ca-5641-4...
4  https://www.bankofcanada.ca/id/05b1dd74-98b1-4...

In [31]:
# get the associated string labels for each language codes
lang_df['two_letter_label'] = ''
for row_num, row_data in lang_df.iterrows():
    label = g.value(row_data['two_letter_subject'], RDFS.label)
    lang_df.loc[row_num, 'two_letter_label'] = label
    
lang_df.head()

                                  two_letter_subject two_letter_label
0  https://www.bankofcanada.ca/id/0156c97d-07d6-4...               th
1  https://www.bankofcanada.ca/id/03375036-4837-4...               ik
2  https://www.bankofcanada.ca/id/04a982f6-48e2-4...               si
3  https://www.bankofcanada.ca/id/051ef2ca-5641-4...               ch
4  https://www.bankofcanada.ca/id/05b1dd74-98b1-4...               li

In [32]:
# find the associated language subject and label that is denoted by each two letter code
lang_df['language_subject'] = ''
lang_df['language_label'] = ''
for row_num, row_data in lang_df.iterrows():
    id = g.value(row_data['two_letter_subject'], BOC.denotes)
    
    # lookup the label for the language
    label = g.value(id, RDFS.label)
    
    # add the language id and label to the dataframe
    lang_df.loc[row_num, 'language_subject'] = id
    lang_df.loc[row_num, 'language_label'] = label
    
lang_df.head()   # what about viewing the last 5 rows?

,two_letter_subject,two_letter_label,language_subject,language_label
0,https://www.bankofcanada.ca/id/0156c97d-07d6-4...,th,https://www.bankofcanada.ca/id/057bd7b0-3b29-4...,Thai
1,https://www.bankofcanada.ca/id/03375036-4837-4...,ik,https://www.bankofcanada.ca/id/f78dd330-b7d4-4...,Inupiaq
2,https://www.bankofcanada.ca/id/04a982f6-48e2-4...,si,https://www.bankofcanada.ca/id/d0ff5be7-108a-4...,Sinhala
3,https://www.bankofcanada.ca/id/051ef2ca-5641-4...,ch,https://www.bankofcanada.ca/id/09a4ebfe-8300-4...,Chamorro
4,https://www.bankofcanada.ca/id/05b1dd74-98b1-4...,li,https://www.bankofcanada.ca/id/74a6898d-b0be-4...,Limburgan

In [ ]:
# save the two letter labels and language labels to CSV
lang_df[['two_letter_label', 'language_label']].to_csv('language_labels.csv', index=False)

### Exercise:
* Add a column for each language's Indigenous name and populate this column from the RDF Graph
* Hint: the *predicate* for a language's Indigenous name is `BOC.hasIndigenousName`

In [42]:
lang_df['indigenous_name'] = ''
for row_num, row_data in lang_df.iterrows():
    # get the indigenous name
    indigenous_name = g.value(row_data['language_subject'], BOC.hasIndigenousName)
    
    # add the indigenous name to the dataframe
    lang_df.loc[row_num, 'indigenous_name'] = indigenous_name
    
lang_df.head()

# why encoding matters: let's try saving to CSV with the older ascii encoding
lang_df[['two_letter_label', 'language_label', 'indigenous_name']].to_csv('language_labels.csv', index=False)  # by default, encoding is UTF-8
lang_df[['two_letter_label', 'language_label', 'indigenous_name']].to_csv('language_labels_ascii.csv', index=False, encoding='ascii')

# demonstrate Excel encoding issues

UnicodeEncodeError: 'ascii' codec can't encode character '\u1e41' in position 13: ordinal not in range(128)

<hr />

## Advanced adventures in RDF: SPARQL

In [41]:
# find the associated three letter code for each language
lang_df['three_letter_label'] = ''

q = '''
        SELECT ?label
        WHERE {
            ?subject boc:denotes ?id .
            ?subject rdf:type boc:Alpha3CodeLanguage .
            ?subject rdfs:label ?label .
        }
'''

for row_num, row_data in lang_df.iterrows():
    query_result = g.query(q, initBindings={'id': row_data['language_subject']})
    query_result = list(query_result)
    
    if len(query_result) > 0:
        label = query_result[0].label
    else:
        label = ''
        
    lang_df.loc[row_num, 'three_letter_label'] = label
        
lang_df.head()

,two_letter_subject,two_letter_label,language_subject,language_label,three_letter_label,indigenous_name
0,https://www.bankofcanada.ca/id/0156c97d-07d6-4...,th,https://www.bankofcanada.ca/id/057bd7b0-3b29-4...,Thai,tha,thai
1,https://www.bankofcanada.ca/id/03375036-4837-4...,ik,https://www.bankofcanada.ca/id/f78dd330-b7d4-4...,Inupiaq,ipk,inupiaq
2,https://www.bankofcanada.ca/id/04a982f6-48e2-4...,si,https://www.bankofcanada.ca/id/d0ff5be7-108a-4...,Sinhala,sin,siṁhala
3,https://www.bankofcanada.ca/id/051ef2ca-5641-4...,ch,https://www.bankofcanada.ca/id/09a4ebfe-8300-4...,Chamorro,cha,None
4,https://www.bankofcanada.ca/id/05b1dd74-98b1-4...,li,https://www.bankofcanada.ca/id/74a6898d-b0be-4...,Limburgan,lim,None

## CSV to RDF

In [44]:
# import currency codes table from GitHub
currency_codes = pd.read_csv('https://raw.githubusercontent.com/datasets/currency-codes/master/data/codes-all.csv')
currency_codes.head()

,Entity,Currency,AlphabeticCode,NumericCode,MinorUnit,WithdrawalDate
0,AFGHANISTAN,Afghani,AFN,971.0,2,NaN
1,ÅLAND ISLANDS,Euro,EUR,978.0,2,NaN
2,ALBANIA,Lek,ALL,8.0,2,NaN
3,ALGERIA,Algerian Dinar,DZD,12.0,2,NaN
4,AMERICAN SAMOA,US Dollar,USD,840.0,2,NaN

In [49]:
cg = rdflib.Graph()
cg.bind("boc", BOC)   # this tells rdflib about our shorthand for the BOC namespace

# get unique countries
countries = currency_codes['Entity'].unique()

# replace non-letter characters with underscores
import re
for index in range(len(countries)):
    countries[index] = re.sub('[^a-zA-Z]', '_', countries[index])


for country in countries:
    # create a new country subject
    country_subject = rdflib.URIRef(BOC[country.replace(' ', '_')])

    # add the country subject to the graph
    cg.add((country_subject, RDF.type, BOC.Country))

    # add the country label to the graph
    cg.add((country_subject, RDFS.label, rdflib.Literal(country)))


# print the first few triples
print('Currency codes graph with countries added:')
for s, p, o in list(cg)[:10]:
    print(s, p, o)


# create currencies and add them to the graph
for row_num,row_data in currency_codes.iterrows():
    # create currency subject
    currency_subject = rdflib.URIRef(BOC[row_data['AlphabeticCode']])

    # add the currency subject to the graph
    cg.add((currency_subject, RDF.type, BOC.Currency))

    # add currency label to the graph
    cg.add((currency_subject, RDFS.label, rdflib.Literal(row_data['Currency'])))

# print the last few triples
print('Currency codes graph with currencies added:')
for s, p, o in list(cg)[-10:]:
    print(s, p, o)

# output to RDF file
cg.serialize('currency_graph.rdf', format='xml')

Currency codes graph with countries added:
https://www.bankofcanada.ca/model#HOLY_SEE__THE_ http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Country
https://www.bankofcanada.ca/model#KOREA__THE_REPUBLIC_OF_ http://www.w3.org/2000/01/rdf-schema#label KOREA__THE_REPUBLIC_OF_
https://www.bankofcanada.ca/model#MICRONESIA__FEDERATED_STATES_OF_ http://www.w3.org/2000/01/rdf-schema#label MICRONESIA__FEDERATED_STATES_OF_
https://www.bankofcanada.ca/model#GRENADA http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Country
https://www.bankofcanada.ca/model#CHILE http://www.w3.org/2000/01/rdf-schema#label CHILE
https://www.bankofcanada.ca/model#SERBIA_AND_MONTENEGRO http://www.w3.org/2000/01/rdf-schema#label SERBIA_AND_MONTENEGRO
https://www.bankofcanada.ca/model#SOUTHERN_RHODESIA http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Country
https://www.bankofcanada.ca/model#SOLOMON_ISLANDS http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Country
https://www.bankofcanada.ca/model#CZECHOSLOVAKIA http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Country
https://www.bankofcanada.ca/model#DOMINICAN_REPUBLIC__THE_ http://www.w3.org/2000/01/rdf-schema#label DOMINICAN_REPUBLIC__THE_
Currency codes graph with currencies added:
https://www.bankofcanada.ca/model#IEP http://www.w3.org/2000/01/rdf-schema#label Irish Pound
https://www.bankofcanada.ca/model#POLAND http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Country
https://www.bankofcanada.ca/model#MARSHALL_ISLANDS__THE_ http://www.w3.org/2000/01/rdf-schema#label MARSHALL_ISLANDS__THE_
https://www.bankofcanada.ca/model#BWP http://www.w3.org/2000/01/rdf-schema#label Pula
https://www.bankofcanada.ca/model#SDP http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Currency
https://www.bankofcanada.ca/model#AMERICAN_SAMOA http://www.w3.org/2000/01/rdf-schema#label AMERICAN_SAMOA
https://www.bankofcanada.ca/model#MZN http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Currency
https://www.bankofcanada.ca/model#LUF http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://www.bankofcanada.ca/model#Currency
https://www.bankofcanada.ca/model#AUSTRALIA http://www.w3.org/2000/01/rdf-schema#label AUSTRALIA
https://www.bankofcanada.ca/model#LVR http://www.w3.org/2000/01/rdf-schema#label Latvian Ruble